@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema OServico</h1>
    <p>Prática de desenvolvimento de sistema utilizando<br /> orientação a objetos com C# e asp.net</p>
</div>